@font-face{
  font-family: "NanumSquareRoundB";
  src:url("../src/components/fonts/NanumSquareRoundB.ttf") format("truetype");
}

@font-face{
  font-family: "NanumSquareRoundEB";
  src:url("../src/components/fonts/NanumSquareRoundEB.ttf") format("truetype");
}

@font-face{
  font-family: "NanumSquareRoundL";
  src:url("../src/components/fonts/NanumSquareRoundL.ttf") format("truetype");
}

@font-face{
  font-family: "NanumSquareRoundR";
  src:url("../src/components/fonts/NanumSquareRoundR.ttf") format("truetype");
}

@font-face{
  font-family: "strongmil_bold";
  src:url("../src/components/fonts/strongmil_bold.ttf") format("truetype");
}


@font-face{
  font-family: "strongmil_bold_vert";
  src:url("../src/components/fonts/strongmil_bold_vert.ttf") format("truetype");
}


@font-face{
  font-family: "strongmil_medium";
  src:url("../src/components/fonts/strongmil_medium.ttf") format("truetype");
}

@font-face{
  font-family: "strongmil_medium_vert";
  src:url("../src/components/fonts/strongmil_medium_vert.ttf") format("truetype");
}



